

@media screen and (min-width:450px) {
  .block-hero-2 .column.text {
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    text-align: left
  }

  .block-hero-2 .column.media {
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0
  }

  .block-hero-2 .column.media img {
    width: 45vw;
    max-width: 800px
  }
}
